<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="SwissBankPayment Test Suite">
            <directory>tests/Mxgma/SwissBankPayment</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Mxgma/SwissBankPayment</directory>
        </whitelist>
    </filter>
</phpunit>
